p.primary,
b.primary,
i.primary,
q.primary,
em.primary,
sub.primary,
sup.primary,
del.primary,
ins.primary,
pre.primary,
small.primary,
strong.primary{ color: var(--primary-main) }

p.info,
b.info,
i.info,
q.info,
strong.info,
small.info,
em.info,
sub.info,
sup.info,
del.info,
pre.info,
ins.info { color: var(--info-main) }

p.success,
b.success,
i.success,
q.success,
strong.success,
small.success,
em.success,
sub.success,
sup.success,
del.success,
pre.success,
ins.success { color: var(--success-main) }

p.warning,
b.warning,
i.warning,
q.warning,
strong.warning,
small.warning,
em.warning,
sub.warning,
sup.warning,
del.warning,
pre.warning,
ins.warning { color: var(--warning-main) }

p.error,
b.error,
i.error,
q.error,
strong.error,
small.error,
em.error,
sub.error,
sup.error,
del.error,
pre.error,
ins.error { color: var(--error-main) }

q::before { content: "“ "; }
q::after  { content: " ”"; }
pre { font: inherit; font-family: var(--font-code); }