button.animate.icon-fly-in,
a.btn.animate.icon-fly-in {
  overflow: hidden;
}

button.animate.icon-fly-in img,
button.animate.icon-fly-in span,
button.animate.icon-fly-in .icon,
button.animate.icon-fly-in .ico,
a.btn.animate.icon-fly-in img,
a.btn.animate.icon-fly-in span,
a.btn.animate.icon-fly-in .icon,
a.btn.animate.icon-fly-in .ico {
  position: relative;
  -webkit-transition: top var(--default-transition-time), left var(--default-transition-time);
  transition: top var(--default-transition-time), left var(--default-transition-time);
}

button.animate.icon-fly-in span,
a.btn.animate.icon-fly-in span {
  left: calc(-0.5 * var(--button-icon-size) - 0.5 * var(--button-icon-margin));
}

button.animate.icon-fly-in .icon,
button.animate.icon-fly-in .ico,
button.animate.icon-fly-in img,
a.btn.animate.icon-fly-in .icon,
a.btn.animate.icon-fly-in .ico,
a.btn.animate.icon-fly-in img {
  left: -50px;
  top: 50px;
}

button.animate.icon-fly-in:hover img,
button.animate.icon-fly-in:hover span,
button.animate.icon-fly-in:hover .icon,
button.animate.icon-fly-in:hover .ico,
a.btn.animate.icon-fly-in:hover img,
a.btn.animate.icon-fly-in:hover span,
a.btn.animate.icon-fly-in:hover .icon,
a.btn.animate.icon-fly-in:hover .ico {
  left: 0;
  top: 0;
}

button,
a.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 0;
  text-align: center;
  text-decoration: none;
  font-size: inherit;
  padding: var(--button-padding) calc(2 * var(--button-padding));
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: var(--default-transition-time);
          transition-duration: var(--default-transition-time);
  background-color: transparent;
  color: var(--primary);
  border: var(--button-border) var(--primary);
  /* --- Icon --- */
  /* --- Modifiers --- */
  /* --- Color variants --- */
}

button:hover,
a.btn:hover {
  background-color: var(--primary);
  color: var(--text-alt);
}

button img,
a.btn img {
  display: inline-block;
  width: var(--button-icon-size);
  height: var(--button-icon-size);
  margin-right: var(--button-icon-margin);
  -o-object-fit: contain;
     object-fit: contain;
}

button.round,
a.btn.round {
  border-radius: var(--button-radius);
}

button.disabled, button:disabled,
a.btn.disabled,
a.btn:disabled {
  opacity: var(--disabled-opacity);
  cursor: not-allowed;
}

button.filled,
a.btn.filled {
  border: 0;
  background-color: var(--primary);
  color: var(--text-alt);
}

button.filled:hover,
a.btn.filled:hover {
  border: 0;
  background-color: var(--primary-alt);
  color: var(--text-alt);
}

button.info,
a.btn.info {
  color: var(--info);
  border-color: var(--info);
}

button.info:hover,
a.btn.info:hover {
  background-color: var(--info);
  color: var(--text-alt);
}

button.info.filled,
a.btn.info.filled {
  background-color: var(--info);
  color: var(--text-alt);
}

button.info.filled:hover,
a.btn.info.filled:hover {
  background-color: var(--info-alt);
}

button.success,
a.btn.success {
  color: var(--success);
  border-color: var(--success);
}

button.success:hover,
a.btn.success:hover {
  background-color: var(--success);
  color: var(--text-alt);
}

button.success.filled,
a.btn.success.filled {
  background-color: var(--success);
  color: var(--text-alt);
}

button.success.filled:hover,
a.btn.success.filled:hover {
  background-color: var(--success-alt);
}

button.warning,
a.btn.warning {
  color: var(--warning);
  border-color: var(--warning);
}

button.warning:hover,
a.btn.warning:hover {
  background-color: var(--warning);
  color: var(--text-alt);
}

button.warning.filled,
a.btn.warning.filled {
  background-color: var(--warning);
  color: var(--text-alt);
}

button.warning.filled:hover,
a.btn.warning.filled:hover {
  background-color: var(--warning-alt);
}

button.error,
a.btn.error {
  color: var(--error);
  border-color: var(--error);
}

button.error:hover,
a.btn.error:hover {
  background-color: var(--error);
  color: var(--text-alt);
}

button.error.filled,
a.btn.error.filled {
  background-color: var(--error);
  color: var(--text-alt);
}

button.error.filled:hover,
a.btn.error.filled:hover {
  background-color: var(--error-alt);
}
/*# sourceMappingURL=buttons.css.map */