select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
    border-radius: 0;
    padding: 0.5em 1em;
    
    width: var(--input-default-width);
    font-family: var(--font);

    border: 2px solid var(--primary);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;

    background-color: transparent;
    color: var(--text);

    &.box {
        border-width: 1px;
        border-radius: 0;
    }
}

/* --- Color variants --- */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
[contenteditable="true"] {

    &.info {
        border-color: var(--info);
    }

    &.success {
        border-color: var(--success);
    }

    &.warning {
        border-color: var(--warning);
    }

    &.error {
        border-color: var(--error);
    }
}