@import './navigation/side.css';
@import './navigation/side/overlapp.css';

nav {
    background-color: var(--primary-main);
    color: var(--text-alt);
}
nav a {
    text-decoration: none;
    color: var(--text-alt);
    padding: 0 2em;
}
nav a>img {
    display: inline-block;
    height: 1.5ch;
    width: 1.5ch;

    object-fit: contain;
}