textarea,
[contenteditable="true"] {
    font-family: var(--font);
    background-color: transparent;
    color: var(--text);
    border-radius: var(--container-radius);
    padding: var(--container-padding);

    border: 1px solid var(--primary);
}
