select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
    border: none;
    border-radius: 0;
    padding: 0.5em 1em;
    
    width: var(--input-default-width);
    font-family: var(--font-main);

    border: 2px solid var(--primary-main);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;

    background-color: transparent;
    color: var(--text-main);
}

/* --- Box --- */

select.box,
input[type="text"].box,
input[type="password"].box,
input[type="email"].box,
input[type="number"].box,
input[type="date"].box,
input[type="time"].box {
    border-width: 1px;
    border-radius: 0;
}

/* --- Color variants --- */

input[type="text"].info,
input[type="password"].info,
input[type="email"].info,
input[type="number"].info,
textarea.info,
[contenteditable="true"].info

{ border-color: var(--info-main); }


input[type="text"].success,
input[type="password"].success,
input[type="email"].success,
input[type="number"].success,
textarea.success,
[contenteditable="true"].success

{ border-color: var(--success-main); }


input[type="text"].warning,
input[type="password"].warning,
input[type="email"].warning,
input[type="number"].warning,
textarea.warning,
[contenteditable="true"].warning

{ border-color: var(--warning-main); }


input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
textarea.error,
[contenteditable="true"].error

{ border-color: var(--error-main); }