mark {
    color: inherit;
    background-color: var(--text-highlight);
}
mark.primary {
    color: var(--text-alt);
    background-color: var(--primary);
}
mark.info {
    color: var(--text-alt);
    background-color: var(--info);
}
mark.success {
    color: var(--text-alt);
    background-color: var(--success);
}
mark.warning {
    color: var(--text-alt);
    background-color: var(--warning);
}
mark.error {
    color: var(--text-alt);
    background-color: var(--error);
}