button.animate.icon-fly-in,
a.btn.animate.icon-fly-in {
    overflow: hidden;
}
button.animate.icon-fly-in > span,
a.btn.animate.icon-fly-in > span,
button.animate.icon-fly-in > img,
a.btn.animate.icon-fly-in > img {
    position: relative;
    transition: top var(--default-transition-time), left var(--default-transition-time);
}
button.animate.icon-fly-in > span,
a.btn.animate.icon-fly-in > span {
    left: calc(-0.5 * var(--button-icon-size) - 0.5 * var(--button-icon-margin));
}
button.animate.icon-fly-in > img,
a.btn.animate.icon-fly-in > img {
    left: -50px;
    top: 50px;
}
button.animate.icon-fly-in:hover > span,
a.btn.animate.icon-fly-in:hover > span,
button.animate.icon-fly-in:hover > img,
a.btn.animate.icon-fly-in:hover > img {
    left: 0;
    top: 0;
}