:root {
    --background:#060606;

    /* Main colors */
    --default: #555;
    --default-alt: #424242;
    --primary: #2A9FD6;
    --primary-alt: #2387b7;
    --text: #888;
    --text-alt: white;
    --text-highlight: dodgerblue;

    /* Link colors */
    --link: #2A9FD6;
    --link-alt: #1d7097;

    /* Informative colors */
    --success: #77B300;
    --success-alt: #5e8d00;

    --error: #CC0000;
    --error-alt: #a60000;

    --warning: #FF8800;
    --warning-alt: #d97400;

    --info: #9933CC;
    --info-alt: #822bad;
}