:root {
    --background:#fff;

    /* Main colors */
    --default: white;
    --default-alt: #EDEDED;
    --primary: #593196;
    --primary-alt: #482879;
    --text: #444;
    --text-alt: white;
    --text-highlight: dodgerblue;

    /* Link colors */
    --link: #919aa1;
    --link-alt: #000000;

    /* Informative colors */
    --success: #13B955;
    --success-alt: #0f9645;

    --error: #FC3939;
    --error-alt: #fb1313;

    --warning: #EFA31D;
    --warning-alt: #d78e0f;

    --info: #009CDC;
    --info-alt: #0081b6;
}