nav.side.overlapp {
    box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.5);
    transition: left var(--default-transition-time);
    left: -400px;
}
nav.side.overlapp.open {
    left: 0;
}

nav.side.rotate {
    transform: translateX(-100%) rotateY(-90deg);
    perspective: 1500px;
    perspective-origin: 0% 50%;
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    
    transition: transform calc(4 * var(--default-transition-time));
}
nav.side.rotate.open {
    transform: translateX(0%) rotateY(0deg);
    left: 0;
}