input[type="file"] {
    appearance: none;
    font: inherit;
    width: 180px;
}
::-webkit-file-upload-button {
    display: none;
}
::-ms-browse {
    display: none;
}

input[type="file"]::after {
    width: calc(100% - 30px);
    content: "Open File Browser";
    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;
    font-size: inherit;
    padding: var(--button-padding) calc(2 * var(--button-padding));
    font-family: inherit;
    cursor: pointer;

    transition: color, background-color;
    transition-duration: var(--default-transition-time);
    
    background-color: transparent;
    color: var(--primary);
    border: var(--button-border) var(--primary);
}

input[type="file"]:hover::after {
    background-color: var(--primary);
    color: var(--text-alt);
}

input[type="file"].info::after {
    color: var(--info);
    border-color: var(--info);
}
input[type="file"].info:hover::after {
    background-color: var(--info);
    color: var(--text-alt);
}

input[type="file"].success::after {
    color: var(--success);
    border-color: var(--success);
}
input[type="file"].success:hover::after {
    background-color: var(--success);
    color: var(--text-alt);
}

input[type="file"].warning::after {
    color: var(--warning);
    border-color: var(--warning);
}
input[type="file"].warning:hover::after {
    background-color: var(--warning);
    color: var(--text-alt);
}

input[type="file"].error::after {
    color: var(--error);
    border-color: var(--error);
}
input[type="file"].error:hover::after {
    background-color: var(--error);
    color: var(--text-alt);
}


input[type="file"].filled::after {
    background-color: var(--primary);
    color: var(--text-alt);
}
input[type="file"].filled:hover::after {
    background-color: var(--primary-alt);
    border-color: var(--primary-alt);
}

input[type="file"].filled.info::after {
    background-color: var(--info);
}
input[type="file"].filled.info:hover::after {
    background-color: var(--info-alt);
    border-color: var(--info-alt);
}

input[type="file"].filled.success::after {
    background-color: var(--success);
}
input[type="file"].filled.success:hover::after {
    background-color: var(--success-alt);
    border-color: var(--success-alt);
}

input[type="file"].filled.warning::after {
    background-color: var(--warning);
}
input[type="file"].filled.warning:hover::after {
    background-color: var(--warning-alt);
    border-color: var(--warning-alt);
}

input[type="file"].filled.error::after {
    background-color: var(--error);
}
input[type="file"].filled.error:hover::after {
    background-color: var(--error-alt);
    border-color: var(--error-alt);
}