.loading.bounce
{
    width: 51px;
    height: 51px;
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--loading-color);
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        
        animation: loading-bounce calc(2 * var(--loading-animation-time)) infinite ease-in-out;
    }

    &::before {
        animation-delay: -1.0s;
    }
    
    @keyframes loading-bounce {
        0%, 100% 
        { transform: scale(0.0); }

        50%
        { transform: scale(1.0); }
    }
}