.loading.sphere
{
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    animation: loading-spin calc(2 * var(--loading-animation-time)) infinite linear;

    &::before,
    &::after {
        content: "";
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: var(--loading-color);
        border-radius: 100%;
        
        animation: loading-bounce calc(2 * var(--loading-animation-time)) infinite ease-in-out;
    }

    &::after {
        top: auto;
        bottom: 0;
        animation-delay: -1.0s;
    }
}