.loading.spin
{
    display: inline-block;
    width: 46px;
    height: 46px;
    position: relative;
    border: 5px solid var(--loading-color);
    top: 50%;
    animation: loading-spin-cube calc(2 * var(--loading-animation-time)) infinite ease;

    &::after {
        content: "";
        vertical-align: top;
        display: inline-block;
        width: 100%;
        background-color: var(--loading-color);
        animation: loading-spin-cube-inner calc(2 * var(--loading-animation-time)) infinite ease-in;
    }
}