.loading.square
{
    width: 51px;
    height: 51px;
    background-color: var(--loading-color);
  
    animation: loading-square var(--loading-animation-time) infinite ease-in-out;

    @keyframes loading-square {
        0% 
        { transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
        
        50% 
        { transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); } 
        
        100% 
        { transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); }
    }
}