
/* --- Underline --- */
a:not(.btn).animate.underline.left 
{ align-items: flex-start; }

a:not(.btn).animate.underline.right 
{ align-items: flex-end; }

a:not(.btn).animate.underline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
a:not(.btn).animate.underline::after {
    content: "";
    
    position: relative;
    display: block;
    height: 1px;

    width: 0%;
    background-color: var(--link-main);

    transition: width, background-color;
    transition-duration: var(--default-transition-time);
}
a:not(.btn).animate.underline:hover::after {
    width: 100%;
    background-color: var(--link-alt);
}