[data-theme="azure"]
{
    //
    // Containers and components
    //
    --container-radius: 0.1rem;
    --container-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    
    --component-radius: 0.1rem;
    --component-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);

    //
    // Colors
    //
    --background: #B0C4DC;

    --default: #F7F8FA;
    --default-dark: #eaebee;
    --default-darker: #dfe1e6;

    --primary: #3A6CDB;
    --primary-dark: #2b5abe;
    --primary-darker: #234eac;

    --secondary: #7A41D7;
    --secondary-dark: #6631bd;
    --secondary-darker: #5d2aaf;
}