:root {
    --background:#fff;
    --font: Verdana, Arial, sans-serif;
    --font-code: "Lucida Console", Monaco, monospace;
    --font-size: 12pt;

    /* Main colors */

    --text: grey;
    --text-alt: white;
    --text-highlight: rgba(255, 145, 0, 0.3);

    /* Link colors */
    --link: #00bc8c;
    --link-alt: #007053;

    /* Informative colors (Default is flatly) */
    --default: #f3f3f3;
    --default-alt: #d6d6d6;

    --primary: #2C3E50;
    --primary-alt: #1e2b37;

    --success: #00bc8c;
    --success-alt: #009670;

    --error: #E74C3C;
    --error-alt: #e12e1c;

    --warning: #F39C12;
    --warning-alt: #d4860b;

    --info: #3498DB;
    --info-alt: #2384c6;

    /* Containers */
    --container-padding: 1em;
    --container-shadow: 1px 1px 3px 1px rgba(0 , 0, 0, 0.1);
    --container-radius: 5px;

    /* Defaults for standardization */
    --default-transition-time: 0.25s;
    --default-icon-size: 1em;

    /* Common style */
    --disabled-opacity: 0.65;

    /* Input */
    --input-default-width: 150px;
    --input-range-thumb-border: 2px solid var(--default);
    --input-range-thumb-radius: 50%;
    --input-range-thumb-width: 1.4em;
    --input-range-thumb-heigth: 1.4em;
    --input-range-track-height: 3px;

    --input-check-inner-width: 0.6;
    --input-check-inner-height: 0.6;
    --input-check-border-width: 2px;
    --input-check-radius: 4px;

    /* Buttons */
    --button-padding: 7px;
    --button-radius: 50px;      /* Only applies to round buttons */
    --button-border: 1px solid; /* Color applied per type        */
    --button-icon-size: 1.5ch;
    --button-icon-margin: 1ch;

    /* Loading */
    --loading-animation-time: 1.2s;
    --loading-color: var(--info);
}