:root[data-theme="orica-darkly"] {
    --background:#222;

    /* Main colors */
    --default: rgb(68, 68, 68);
    --default-alt: rgb(49, 49, 49);
    --primary: #0193CF; /*Oricablue: #0193CF*/
    --primary-alt: rgb(0, 115, 160);
    --text: lightgray;
    --text-alt: white;

    /* Container */
    --container-shadow: 0;
}