@import './buttons/_animations.scss';

@mixin colorBtn($color)
{
    border: 1px solid var(--#{$color});
    color: var(--#{$color});
    border-color: var(--#{$color});

    &:hover
    {
        background-color: var(--#{$color});
        color: var(--text-alt);
    }

    &.filled
    {
        border: 0;
        background-color: var(--#{$color});
        color: var(--text-alt);

        &:hover
        {
            border: 0;
            background-color: var(--#{$color}-alt);
        }
    }
}

button,
a.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: 0;

    text-align: center;
    text-decoration: none;
    font-size: inherit;
    padding: var(--button-padding) calc(2 * var(--button-padding));
    font-family: inherit;
    cursor: pointer;

    transition: color, background-color;
    transition-duration: var(--default-transition-time);
    
    background-color: transparent;
    
    @include colorBtn(primary);
    
    /* --- Icon --- */

    img {
        display: inline-block;
        width: var(--button-icon-size);
        height: var(--button-icon-size);
        margin-right: var(--button-icon-margin);
    
        object-fit: contain;
    }

    /* --- Modifiers --- */

    &.round {
        border-radius: var(--button-radius);
    }

    &.disabled,
    &:disabled {
        opacity: var(--disabled-opacity);
        cursor: not-allowed;
    }

    /* --- Color variants --- */

    &.info { @include colorBtn(info) }

    &.success { @include colorBtn(success) }

    &.warning { @include colorBtn(warning) }

    &.error { @include colorBtn(error) }
}