header
{
    background-color: var(--primary);

    >nav a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        color: var(--text-alt);
        &:hover
        { color: var(--text-alt); }

        height: 100%;
        margin: 0 0.5em;
        opacity: var(--disabled-opacity);
        transition: opacity var(--default-transition-time);
        
        &:hover 
        { opacity: 1; }

        &::after
        {
            content: "";
    
            position: absolute;
            display: block;
            height: 1px;
            bottom: calc(50% - 1ch);
        
            width: 0%;
            background-color: var(--text-alt);
        
            transition: width, background-color;
            transition-duration: var(--default-transition-time);
        }

        &:hover::after
        { width: 100%; }
    }

    &.horizontal
    {
        display: flex;
        height: 70px;

        a
        {
            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--text-alt);
            &:hover
            { color: var(--text-alt); }
        }

        >a,
        >.title
        {
            padding: 0 1em;
            font-size: calc(var(--font-size) * 1.1)
        }

        >input
        {
            font-family: var(--font);
            font-size: var(--font-size);

            margin: 10px;
            padding: 10px;

            border: 0;
            color: var(--text-alt);

            background-color: transparent;
            opacity: var(--disabled-opacity);
            border-radius: 0;

            transition: background, opacity, border-radius;
            transition-duration: var(--default-transition-time);

            &::-webkit-input-placeholder
            { color: var(--text-alt); }

            &:hover,
            &:focus
            {
                opacity: 1;
                background-color: var(--primary-alt);
                border-radius: var(--button-radius);
            }
        }

        >nav
        {
            flex: 1000;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a
            {

            }
        }

        &.spread>nav
        {
            align-items: stretch;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;

            a 
            { margin: 0; }
        }

        &.center>nav
        { justify-content: center; }

        &.right>nav
        { justify-content: flex-end; }
    }

    &.vertical
    {

    }

    &.primary
    {

    }
}