@import './input/_common.scss';
@import './input/_text.scss';
@import './input/_bigtext.scss';
@import './input/_range.scss';
@import './input/_check.scss';
@import './input/_file.scss';
@import './input/_select.scss';
@import './input/_time.scss';
@import './input/_bigtext.scss';

select:focus,
input:focus,
textarea:focus,
[contenteditable="true"]:focus {
    outline: none; 
}