button.animate,
a.btn.animate {

    &.icon-fly-in {
        overflow: hidden;

        img, span {
            position: relative;
            transition: 
                top var(--default-transition-time), 
                left var(--default-transition-time);
        }

        span {
            left: calc(-0.5 * var(--button-icon-size) - 0.5 * var(--button-icon-margin));
        }

        img {
            left: -50px;
            top: 50px;
        }

        &:hover {
            img, span {
                left: 0;
                top: 0;
            }
        }
    }
}